[submodule "External/MemoryModule"]
	path = External/MemoryModule
	url = https://github.com/fancycode/MemoryModule
[submodule "External/d3d8to9"]
	path = External/d3d8to9
	url = https://github.com/crosire/d3d8to9
	branch = main
[submodule "External/detours"]
	path = External/detours
	url = https://github.com/microsoft/detours
[submodule "External/Logging"]
	path = External/Logging
	url = https://github.com/elishacloud/Logging
[submodule "External/Hooking"]
	path = External/Hooking
	url = https://github.com/elishacloud/Hooking
[submodule "External/dinputto8"]
	path = External/dinputto8
	url = https://github.com/elishacloud/dinputto8
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
